@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*main*/
body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header, footer{
    background-color: #010409;
}
main{
    background-color: #0d1117;
    flex: 1;
}

/*typography and alignment*/
.center{
    text-align: center;
}
.color{
    color: #c9d1d9;
}
.text-deco{
    text-decoration: none;
}
.bullet-spacing{
    margin: 20px auto;
}
.text-format{
    margin: 1em auto;
    max-width: 60%;
    font-size: 18px;
}
.d-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-list{
    text-align: center;
}
.list-center{
    display: inline-block;
    text-align: left;
}

/*navigation bar*/
.nav-top{
    justify-content: space-between;
}
.nav-bottom{
    justify-content: center;
}
.nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.navlist{
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 16px;
}
.navlist-left{
    padding: 0;
    justify-content: center;
}
.navlist-right{
    padding: 0 16px;
    justify-content: flex-end;
}
.name{
    font-size: 20px;
    font-weight: 900;
    padding: 0px 16px;
}
.navlink{
    font-weight: 400;
}

/*dividers*/
.main-divider{
    margin: 0;
    border: 0;
    border-top: 1px solid #30363d;
    box-shadow: inset 0 -1px 0 #21262d;
}
.footer-split{
    max-width: 650px;
    margin: auto;
    border: 0;
    border-top: 1px solid #30363d;
}

/*table*/
.table-align{
    width: 80%;
    border-spacing: 5px;
    padding: 0px;
}
tr:hover{
    background-color: #30363d;
}
/*other main pages*/

/*index root pages*/
.index-root{
    max-width: 100%;
    background: linear-gradient(to top, #0d1117ba, #010409cc), url("../images/saber-bg.png");
    flex: 1;
}
.about-box{
    max-width: 100%;
    background-color: #161b22;
    border: 1px solid #30363d;
    border-radius: 10px;
    box-shadow: inset 0 -1px 0 #21262d, 2px 2px 5px #010409;
    padding: 16px;
}
.left-side-main{
    max-width: 100%;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.right-side-main{
    max-width: 100%;
    width: 500px;
}

/*project pages*/
.project-image-box{
    margin-bottom: 20px;
    height: fit-content;
    width: 75%;
    background-color: #161b22;
    border: 1px solid #30363d;
    border-radius: 10px;
    box-shadow: inset 0 -1px 0 #21262d, 2px 2px 5px #010409;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.project-image-item{
    background-color: #0104098d;
    border: 1px solid #30363d;
    border-radius: 10px;
    box-shadow: inset 0 -1px 0 #21262d, 2px 2px 5px #010409;
    width: 48%;
    height: 200px;
    padding: 0;
}
.proj-item1{
    background: linear-gradient(to top, #0d1117ba, #010409cc), url("../../projects/images/javacoffee-ss.png");
    background-position: right;
}
.proj-item2{
    background: linear-gradient(#0d1117ba, #010409cc), url("../../projects/images/bootstrapping-ss.png");
    background-size: cover;
    background-position: center;
}
.proj-item3{
    background: linear-gradient(to right, #0d1117ba, #010409cc), url("../../projects/images/odinlanding-ss.png");
    background-size: cover;
    background-position: center;
}
.proj-item4{
    background: linear-gradient(#0d1117ba, #010409cc), url("../../projects/images/itis-ss.png");
    background-position: center;
}

/*images*/
#intro-image{
    max-width: 30%;
    max-height: 50%;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}
#index-image{
    border: 1px solid #30363d;
    box-shadow: inset 0 -1px 0 #21262d;
    border-radius: 50%;
    max-width: 50%;
}

/*miscellaneous*/
.status-color{
    color: #f85249d3;
}
a:link {
    color: #c9d1d9;
}  
a:visited {
    color: #c9d1d9;
}
a:hover {
    color: #f85249d3;
}
a:active {
    color: #c9d1d9;
}

/*media mobile*/

@media only screen and (max-width: 600px){
    .about-box{
        padding: 8px;
        margin: 10px;
    }
    .left-side-main, .right-side-main{
        margin: 5px;
        width: auto;
    }
}

@media only screen and (max-width: 768px){
    .about-box{
        padding: 16px;
        margin: 10px;
    }
    .left-side-main, .right-side-main{
        width: auto;
    }
    .navlist{
        gap: 32px;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1068px){
    .about-box{
        padding: 16px;
        margin: 10px;
    }
    .left-side-main, .right-side-main{
        width: auto;
    }
    .navlist{
        gap: 32px;
    }
    .project-image-item{
        width: 100%;
    }
    .text-format{
        max-width: 90%;
    }
    .center{
        padding: 0 10px;
    }
}

@media only screen and (max-width: 1280px){
    body{
        width: 100%;
    }
}
/* color palette
#010409 header/footer
#0d1117 main
#30363d #21262d #161b22 alt
#c9d1d9 text
*/