@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --main: #FFAFCC;
    --alt1: #FFC8DD;
    --alt2: #CDB4DB;
    --alt3: #9883a5;
    --link: #cb7ff7;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--alt1);
    background: linear-gradient(-45deg, var(--alt1), var(--alt2));
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}

/*header footer*/
header{
    background-color: var(--main);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 4px 1rem;
    width: fit-content;
    margin: 1rem auto;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 2px 2px black;
    font-family: 'Caveat', cursive;
}

header>nav>ul{
    display: flex;
    gap: 1rem;
}

nav>ul>li{
    list-style-type: none;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 3rem;
    gap: 1rem;
}

footer>nav{
    background-color: var(--main);
    padding: 4px 1rem;
    width: fit-content;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 2px 2px black;
    font-family: 'Caveat', cursive;
    display: flex;
}

li>a,footer>nav>a{
    font-size: 1.15rem;
    text-decoration: none;
    color: black;
}

h1>a{
    text-decoration: none;
    color: black;
}

/*hero main alt*/
.hero{
    display: flex;
    gap: 2rem;
    margin: 3rem;
}

.title{
    text-align: center; 
    margin: auto; 
    padding: 4px 1rem;
}

#gallery{
    flex-wrap: wrap;
    justify-content: center;
}

#about>img{
    max-width: 400px;
}

.hero>div>figure{
    margin: 1rem;
    font-size: 1.75rem;
}

.hero>div>figure>blockquote{
    font-style: italic;
    padding-bottom: 1rem;
}

.hero>div>figure>figcaption{
    font-style: italic;
}

.hero>div{
    background-color: var(--main);
    padding: 1.5rem;
    width: fit-content;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 2px 2px black;
}

.hero>img{
    max-width: 450px;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 2px 2px black;
}

.hero>div>h2{
    font-family: 'Caveat', cursive;
    padding-bottom: 1.5rem;
    font-size: 2rem;
}

.hero>div>p{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.hero>div>p:last-of-type{
    padding-bottom: 0;
}

.hero>div>p>a{
    color: var(--link);
}

@media only screen and (max-width: 414px){
    header>h1{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 768px){
    .hero{
        flex-direction: column;
        margin: 2rem;
    }
}

@media only screen and (max-width: 1068px){
    .hero>img{
        width: 100%;
        margin: auto;
    }
}