body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #212124;
    color: #E0FBFC;
    margin: 0;
}
.heading{
    text-align: center;
}
.nav{
    text-align: center;
    padding: 5px;
}
.about{
    text-align: center;
}
a:link {
    color: #E0FBFC;
}  
a:visited {
    color: lightcoral;
}
a:hover {
    color: #E0FBFC;
}
a:active {
    color: lightcoral;
}
hr{
    border: 2px solid #5C6B73;
}