<footer>
    <hr class="main-divider">
    <nav class="nav nav-bottom">
        <ul class="navlist">
            <li><a class="navlink text-deco" href="https://github.com/ryanshz" target="_blank">
                <i class="fa fa-github social-links"></i>
            </a></li>
            <li><a class="navlink text-deco" href="https://webpages.charlotte.edu/cshultz/" target="_blank">
                <i class="fa fa-university social-links"></i>
            </a></li>
            <li><a class="navlink text-deco" href="https://www.freecodecamp.org/ryanshz" target="_blank">
                <i class="fa fa-free-code-camp social-links"></i>
            </a></li>
            <li><a class="navlink text-deco" href="https://www.linkedin.com/in/ryanshz/" target="_blank">
                <i class="fa fa-linkedin social-links"></i>
            </a></li>
        </ul>
    </nav>
</footer>