<footer>
    <hr class="main-divider">
    <nav class="nav nav-bottom">
        <ul class="navlist">
            <li><a class="navlink text-deco" href="https://webpages.charlotte.edu/cshultz/" target="_blank">clt webspace</a></li>
            <li><a class="navlink text-deco" href="https://www.freecodecamp.org/ryanshz" target="_blank">freecodecamp</a></li>
            <li><a class="navlink text-deco" href="https://www.linkedin.com/in/ryanshz/" target="_blank">linkedin</a></li>
        </ul>
    </nav>
</footer>