<header>
    <nav class="nav nav-top" id="nav">
        <ul class="navlist navlist-left">
            <li><a class="name text-deco" href="index.html">ryanshz</a></li>
        </ul>
        <ul class="navlist navlist-right">
            <li><a class="navlink text-deco" href="https://github.com/ryanshz" target="_blank">github</a></li>
            <li><a class="navlink text-deco" href="projects/index.html">projects</a></li>
            <li><a class="navlink text-deco" href="itis3135/index.html">itis3135</a></li>
        </ul>
    </nav>
</header>
<hr class="main-divider">