<header>
    <nav class="nav nav-top">
        <ul class="navlist navlist-left">
            <li><a class="name text-deco d-flex-center" href="index.html"><img id="header-logo" width="100" src="../logo/logo-solo-nobg.png">ryanshz</a></li>
        </ul>
        <ul class="navlist navlist-right" id="navIndex">
            <a href="javascript:void(0);" class="icon" onclick="displayNav()">
                <i class="fa fa-bars"></i>
            </a>
            <li><a class="navlink text-deco" href="projects.html">projects</a></li>
            <li><a class="navlink text-deco" href="itis3135/index.html">itis3135</a></li>
        </ul>
    </nav>
    <hr class="main-divider">
</header>
