<hr>
<footer>
    <nav class="nav nav-bottom">
        <ul class="navlist">
            <li><a class="navlink text-deco" href="https://webpages.charlotte.edu/cshultz/">clt webspace</a></li>
            <li><a class="navlink text-deco" href="https://github.com/ryanshz">github</a></li>
            <li><a class="navlink text-deco" href="https://ryanshz.github.io/">github.io</a></li>
            <li><a class="navlink text-deco" href="https://ryanshz.github.io/itis3135/index.html">itis3135.io</a></li>
            <li><a class="navlink text-deco" href="https://www.freecodecamp.org/ryanshz">freecodecamp</a></li>
            <li><a class="navlink text-deco" href="https://www.codecademy.com/profiles/ryanshz">codecademy</a></li>
            <li><a class="navlink text-deco" href="https://www.linkedin.com/in/ryanshz/">linkedin</a></li>
        </ul>
    </nav>
    <nav class="nav nav-bottom">
        <ul class="navlist">
            <li class="center color"><a class="text-deco" href="shultzcorp.com/index.html"
                    target="_blank">&copy;Shultzcorp</a>, certified in <a
                    href="https://www.freecodecamp.org/certification/ryanshz/responsive-web-design" target="_blank"
                    rel="noopener noreferrer>Web Design</a>, <a href="
                    https://www.freecodecamp.org/certification/ryanshz/javascript-algorithms-and-data-structures"
                    target="_blank" rel="noopener noreferrer"> JavaScript</a></li>
            <li><a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
                    <img style="border:0;width:88px;height:31px"
                        src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png"
                        alt="Valid HTML!"></a></li>
            <li><a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
                    <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss"
                        alt="Valid CSS!"></a></li>
        </ul>
    </nav>
    <script>
        document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
</footer>